{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

	<div class = 'flash'>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    </div>


	
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
			
		</div>
		<div class="col-md-1"></div>
	</div>
    <div class = "categories">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<h3>Categories</h3>
		</div>
		<div class="col-md-1"></div>
	</div>
	{% for category in categories %}
		<a href = "{{url_for('showCategory', category_name = category.name)}}">
			<div class="row">
				<div class="col-md-1"></div>
					<div class="col-md-10">
						<h2>{{category.name}}</h2>
					</div>
				<div class="col-md-1"></div>
			</div>
		</a>
	{% endfor %}
    </div>
    <div class = "items">
        {% if showlatest %}
		<div class="row">
			<h3>Latest Items</h3>
		</div>	
       	 	{% for i in items %}
		<a href = "{{url_for('showItem', category_name = get_category(i).name, item_name = i.name)}}">
	       	 <div class="row">
			<div class="col-md-10">
		            <h2>{{i.name}}</h2>
			</div>
       		 </div>
		</a>
       		 {% endfor %}
	{% else %}
		<div class="row">
			<h3>{{category.name}} Items ({{itemcount}} items)</h3>
		</div>	
       	 	{% for i in items %}
			<a href = "{{url_for('showItem', category_name = category.name, item_name = i.name)}}">
		       	 <div class="row">
				<div class="col-md-10">
			            <h2>{{i.name}}</h2>
				</div>
       			 </div>
			</a>
       		{% endfor %}
	{% endif %}

    </div>
{% endblock %}
